node-red_flow.json
[{"id":"ad21c5e1.4b6998","type":"slackbot-listen","z":"f7e7a375.4d87d","slackbot":"d2b8fd1c.b95b","name":"","x":97.5,"y":127,"wires":[["e6d948c8.083a38"]]},{"id":"aef137ee.f94f8","type":"slackbot-reply","z":"f7e7a375.4d87d","slackbot":"df28efef.ac0e38","name":"","x":799.5,"y":253,"wires":[]},{"id":"e6d948c8.083a38","type":"function","z":"f7e7a375.4d87d","name":"","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":262.5,"y":126,"wires":[["320bdb95.9ada64"]]},{"id":"320bdb95.9ada64","type":"watson-tone-analyzer-v3","z":"f7e7a375.4d87d","name":"","tones":"emotion","sentences":"true","contentType":"false","x":445.5,"y":125,"wires":[["e92278a7.448678"]]},{"id":"e92278a7.448678","type":"function","z":"f7e7a375.4d87d","name":"","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nfor (var i=0; i<emotions.length; i++) {\n   \n   if( emotions[i].score > 0.3)\n   {\n   msg.payload = \"I detected \"+emotions[i].tone_name;\n   return [msg,null];\n   }\n   }\n   return [null,msg];","outputs":"2","noerr":0,"x":395.5,"y":222,"wires":[["5e333654.a3b078","aef137ee.f94f8"],["24808878.49bb38"]]},{"id":"5e333654.a3b078","type":"debug","z":"f7e7a375.4d87d","name":"","active":true,"console":"false","complete":"payload","x":794.5,"y":142,"wires":[]},{"id":"24808878.49bb38","type":"watson-conversation-v1","z":"f7e7a375.4d87d","name":"","workspaceid":"ec05ac97-deeb-4e70-a4ae-6d50832651a7","multiuser":false,"context":true,"x":403.5,"y":406,"wires":[["100206a7.80b5c1"]]},{"id":"100206a7.80b5c1","type":"function","z":"f7e7a375.4d87d","name":"","func":"msg.payload =  {\"text\": msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":575.5,"y":330,"wires":[["5e333654.a3b078","aef137ee.f94f8"]]},{"id":"d2b8fd1c.b95b","type":"slackbot-controller","z":"","name":"Slackie","bot_token":"xoxb-152818031636-3CuWfHWPLSgxGqoU9aapEHCC"},{"id":"df28efef.ac0e38","type":"slackbot-controller","z":"","name":"Drakie","bot_token":"xoxb-152818031636-3CuWfHWPLSgxGqoU9aapEHCC"}]